body{
    background-color: yellowgreen;
    height: 100%;
    width: 98%;
}
header{
    display: flex;

}
.nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;;
    margin: auto;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #fff;
}
.lpcom{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    padding: 3px 5px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
#course_rukodelie, #course_nogti, #About, #course_It{
    display: flex;
    width: 200px;
    height: 50px;
    border: 2px solid red;
    background-color: blue;
    border-radius: 25px;
    opacity: 0.5;
    margin-right: 5px;
    margin: auto;
}
#course_nogti{
    border: 2px solid salmon;
    background-color: paleturquoise;
}
option{
    background: rgb(107, 67, 67);
    color: white;
}
#About{
    border: 2px solid rgb(0, 255, 0);
    background-color: black;
    color: white;

}
#course_It{
    border: 2px solid orange;
    background-color: rgb(255, 0, 0);
}
#course_rukodelie:hover, #course_nogti:hover, #About:hover, #course_It:hover{
    opacity: 1;
}
.textPart{
    width: 80%;
    height: 500px;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;

    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid blue;
    border-radius: 15px;
}
.textPart.about{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    background-color: rgb(0, 132, 255);
    border-radius: 15px;
}
h1{
    display: flex;

}
.p_stepFirst, .p_stepSecond{
    /* margin-top: 25px; */
    width: 100%;
    display: flex;
    font-size: 20px;
    width: 195px;
    /* border: 2px solid black; */
    margin-bottom: 10px;
    
    
}
.p_stepSecond{
    display: flex;
    margin-left: 80%;
}
footer{
    display: flex;
    margin: 0px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 3px;
    width: 100%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}
.footers{
    display: inline;
    margin: 0px 20px;
}
.link{
    display: flex;
    width: 150px;
    margin-bottom: 5px;

}
.about{
    height: 100%;
}
.password{
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}
.registration{
    display: flexbox;
    justify-content: end;
    align-items: end;
    margin-left: 25px;
}
.pasPage{
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}
.pasPage2{
    padding-top: 5px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 200px;
    justify-content: center;
    background-color: rgb(0, 132, 255);
}
.registration_button{
    display: flex;
    margin: auto;
}